In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [71]:
import numpy as np
import pandas as pd
import re

In [40]:
l1

['TRANSACT_TYPE',
 'FURNISH',
 'FACING',
 'PRICE_SQFT',
 'FLOOR_NUM',
 'DESCRIPTION',
 'AREA',
 'AGE',
 'OWNTYPE',
 'SOCIETY_NAME',
 'BEDROOM_NUM',
 'PRICE',
 'TOTAL_FLOOR',
 'PREFERENCE',
 'location',
 'PROP_NAME',
 'BALCONY_NUM',
 'PROP_HEADING',
 'MAP_DETAILS',
 'BUILDING_NAME',
 'PROP_ID',
 'TOTAL_LANDMARK_COUNT',
 'CITY',
 'PROPERTY_TYPE',
 'AMENITIES',
 'FEATURES',
 'FORMATTED_LANDMARK_DETAILS']

In [41]:
gurgaon = pd.read_csv('/content/drive/MyDrive/pro/gurgaon_10k.csv',usecols=l1)
mumbai = pd.read_csv('/content/drive/MyDrive/pro/mumbai.csv',usecols=l1)
kolkata = pd.read_csv('/content/drive/MyDrive/pro/kolkata.csv',usecols=l1)
hyderabad = pd.read_csv('/content/drive/MyDrive/pro/hyderabad.csv',usecols=l1)

In [11]:
s1 = set(gurgaon.columns)
s2 = set(mumbai.columns)
s3 = set(kolkata.columns)
s4 = set(hyderabad.columns)

In [39]:
gurgaon[['location']].sample(10)

                                                location
870    {'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...
7247   {'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...
10173  {'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...
5631   {'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...
1797   {'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...
4821   {'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...
5207   {'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...
4338   {'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...
3602   {'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...
6888   {'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...

In [22]:
gurgaon.columns

Index(['PROP_ID', 'PHOTO_URL', 'MEDIUM_PHOTO_URL', 'PREFERENCE', 'DESCRIPTION',
       'PROPERTY_TYPE', 'CITY', 'LOCALITY', 'TRANSACT_TYPE', 'OWNTYPE',
       'BEDROOM_NUM', 'BATHROOM_NUM', 'BALCONY_NUM', 'PRICE_PER_UNIT_AREA',
       'FURNISH', 'FACING', 'AGE', 'FLOOR_NUM', 'TOTAL_FLOOR', 'FEATURES',
       'REGISTER_DATE', 'PROP_NAME', 'MIN_PRICE', 'MAX_PRICE', 'PRICE_SQFT',
       'LISTING', 'BUILDING_ID', 'CARPET_SQFT', 'SUPERBUILTUP_SQFT',
       'BROKERAGE', 'MAP_DETAILS', 'FSL_Data', 'MIN_AREA_SQFT',
       'MAX_AREA_SQFT', 'FORMATTED', 'AMENITIES', 'TOP_USPS', 'PD_URL',
       'EXPIRY_DATE', 'GROUP_NAME', 'AREA', 'PRICE', 'PROP_HEADING',
       'PROP_DETAILS_URL', 'CLASS_HEADING', 'CLASS_LABEL', 'SECONDARY_TAGS',
       'PROPERTY_IMAGES', 'THUMBNAIL_IMAGES', 'TOTAL_LANDMARK_COUNT',
       'FORMATTED_LANDMARK_DETAILS', 'CONTACT_NAME', 'CONTACT_COMPANY_NAME',
       'DEALER_PHOTO_URL', 'SOCIETY_NAME', 'BUILDING_NAME', 'CITY_ID',
       'LOCALITY_WO_CITY', 'profile', 'xid', 'metadata', 'location',
       'BUILTUP_SQFT', 'SUPER_SQFT', 'COMMON_FURNISHING_ATTRIBUTES',
       'QUALITY_SCORE', 'FURNISHING_ATTRIBUTES'],
      dtype='object')

In [36]:
l1 = list(s1 & s2 & s3 & s4)
l1.remove('SECONDARY_TAGS')
l1.remove('PRICE_PER_UNIT_AREA')
l1

['TRANSACT_TYPE',
 'FURNISH',
 'FACING',
 'PRICE_SQFT',
 'FLOOR_NUM',
 'DESCRIPTION',
 'AREA',
 'AGE',
 'OWNTYPE',
 'SOCIETY_NAME',
 'BEDROOM_NUM',
 'PRICE',
 'TOTAL_FLOOR',
 'PREFERENCE',
 'location',
 'PROP_NAME',
 'BALCONY_NUM',
 'PROP_HEADING',
 'MAP_DETAILS',
 'BUILDING_NAME',
 'PROP_ID',
 'TOTAL_LANDMARK_COUNT',
 'CITY',
 'PROPERTY_TYPE',
 'AMENITIES',
 'FEATURES',
 'FORMATTED_LANDMARK_DETAILS']

In [13]:
s2

{'AGE',
 'ALT_TAG',
 'AMENITIES',
 'AREA',
 'BALCONY_NUM',
 'BEDROOM_NUM',
 'BUILDING_ID',
 'BUILDING_NAME',
 'CITY',
 'CLASS',
 'CLASS_HEADING',
 'CLASS_LABEL',
 'DESCRIPTION',
 'EXPIRY_DATE',
 'FACING',
 'FEATURES',
 'FLOOR_NUM',
 'FORMATTED_LANDMARK_DETAILS',
 'FURNISH',
 'MAP_DETAILS',
 'MAX_AREA_SQFT',
 'MAX_PRICE',
 'MIN_AREA_SQFT',
 'MIN_PRICE',
 'OWNTYPE',
 'POSTING_DATE',
 'PREFERENCE',
 'PRICE',
 'PRICE_PER_UNIT_AREA',
 'PRICE_SQFT',
 'PRIMARY_TAGS',
 'PRODUCT_TYPE',
 'PROJ_ID',
 'PROPERTY_NUMBER',
 'PROPERTY_TYPE',
 'PROPERTY_TYPE__U',
 'PROP_HEADING',
 'PROP_ID',
 'PROP_NAME',
 'REGISTERED_DAYS',
 'REGISTER_DATE',
 'REGISTER_DATE__U',
 'RES_COM',
 'SECONDARY_AREA',
 'SECONDARY_TAGS',
 'SOCIETY_NAME',
 'SPID',
 'TOP_USPS',
 'TOTAL_FLOOR',
 'TOTAL_LANDMARK_COUNT',
 'TRANSACT_TYPE',
 'UPDATE_DATE',
 'VALUE_LABEL',
 'VERIFIED',
 'location'}

In [24]:
s3

{'AGE',
 'AMENITIES',
 'AREA',
 'BALCONY_NUM',
 'BEDROOM_NUM',
 'BUILDING_NAME',
 'BUILTUP_SQFT',
 'CARPET_SQFT',
 'CITY',
 'DESCRIPTION',
 'FACING',
 'FEATURES',
 'FLOOR_NUM',
 'FORMATTED_LANDMARK_DETAILS',
 'FURNISH',
 'MAP_DETAILS',
 'OWNTYPE',
 'PREFERENCE',
 'PRICE',
 'PRICE_PER_UNIT_AREA',
 'PRICE_SQFT',
 'PROPERTY_TYPE',
 'PROP_HEADING',
 'PROP_ID',
 'PROP_NAME',
 'SECONDARY_TAGS',
 'SOCIETY_NAME',
 'SUPERAREA_UNIT',
 'SUPERBUILTUP_SQFT',
 'SUPER_AREA',
 'SUPER_SQFT',
 'TOTAL_FLOOR',
 'TOTAL_LANDMARK_COUNT',
 'TRANSACT_TYPE',
 'location'}

In [25]:
s4

{'AGE',
 'ALT_TAG',
 'AMENITIES',
 'AREA',
 'BALCONY_NUM',
 'BEDROOM_NUM',
 'BUILDING_ID',
 'BUILDING_NAME',
 'CITY',
 'CLASS',
 'CLASS_HEADING',
 'CLASS_LABEL',
 'DESCRIPTION',
 'EXPIRY_DATE',
 'FACING',
 'FEATURES',
 'FLOOR_NUM',
 'FORMATTED_LANDMARK_DETAILS',
 'FURNISH',
 'MAP_DETAILS',
 'MAX_AREA_SQFT',
 'MAX_PRICE',
 'MIN_AREA_SQFT',
 'MIN_PRICE',
 'OWNTYPE',
 'POSTING_DATE',
 'PREFERENCE',
 'PRICE',
 'PRICE_PER_UNIT_AREA',
 'PRICE_SQFT',
 'PRIMARY_TAGS',
 'PRODUCT_TYPE',
 'PROJ_ID',
 'PROPERTY_NUMBER',
 'PROPERTY_TYPE',
 'PROPERTY_TYPE__U',
 'PROP_HEADING',
 'PROP_ID',
 'PROP_NAME',
 'REGISTERED_DAYS',
 'REGISTER_DATE',
 'REGISTER_DATE__U',
 'RES_COM',
 'SECONDARY_AREA',
 'SECONDARY_TAGS',
 'SOCIETY_NAME',
 'SPID',
 'TOP_USPS',
 'TOTAL_FLOOR',
 'TOTAL_LANDMARK_COUNT',
 'TRANSACT_TYPE',
 'UPDATE_DATE',
 'VALUE_LABEL',
 'VERIFIED',
 'location'}

In [43]:
df = pd.concat([gurgaon,mumbai,kolkata,hyderabad],axis=0,ignore_index=True)

In [47]:
df.PROPERTY_TYPE.value_counts()

PROPERTY_TYPE
Residential Apartment        28550
Residential Land              3529
Independent/Builder Floor     3187
Independent House/Villa       2951
Studio Apartment               163
Serviced Apartments             80
Farm House                      40
Other                            2
Name: count, dtype: int64

In [49]:
res_apart = df[df['PROPERTY_TYPE']=='Residential Apartment']
res_apart.shape

(28550, 27)

In [51]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [55]:
res_apart.sample(10)
res_apart.drop(['PROP_ID','PROPERTY_TYPE','SOCIETY_NAME','BUILDING_NAME'],inplace=True,axis=1)

<ipython-input-55-b87f400ab172>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_apart.drop(['PROP_ID','PROPERTY_TYPE','SOCIETY_NAME','BUILDING_NAME'],inplace=True,axis=1)

In [63]:
# res_apart.reset_index(inplace=True,drop=True)

In [74]:
res_apart['MAP_DETAILS'].head(10)

0    {'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...
1    {'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...
2    {'LATITUDE': '28.401406', 'LONGITUDE': '77.050...
3    {'LATITUDE': '28.518677', 'LONGITUDE': '77.015...
4    {'LATITUDE': '28.47844', 'LONGITUDE': '76.9861...
5    {'LATITUDE': '28.47844', 'LONGITUDE': '76.9861...
6    {'LATITUDE': '28.47844', 'LONGITUDE': '76.9861...
7    {'LATITUDE': '28.4164', 'LONGITUDE': '77.01262...
8    {'LATITUDE': '28.39988', 'LONGITUDE': '77.0965...
9    {'LATITUDE': '28.4164', 'LONGITUDE': '77.01262...
Name: MAP_DETAILS, dtype: object

In [78]:
res_apart['LATITUDE'] = res_apart['MAP_DETAILS'].apply(lambda x: x.split(',')[0]).apply(lambda x:re.search(r'(\d+\.\d+)',x).group())
res_apart['LONGITUDE'] = res_apart['MAP_DETAILS'].apply(lambda x: x.split(',')[1]).apply(lambda x:re.search(r'(\d+\.\d+)',x).group())

<ipython-input-78-620d00991d04>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_apart['LATITUDE'] = res_apart['MAP_DETAILS'].apply(lambda x: x.split(',')[0]).apply(lambda x:re.search(r'(\d+\.\d+)',x).group())
<ipython-input-78-620d00991d04>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_apart['LONGITUDE'] = res_apart['MAP_DETAILS'].apply(lambda x: x.split(',')[1]).apply(lambda x:re.search(r'(\d+\.\d+)',x).group())

In [80]:
res_apart.drop(['MAP_DETAILS'],inplace=True,axis=1)

<ipython-input-80-78adc57e868f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_apart.drop(['MAP_DETAILS'],inplace=True,axis=1)

In [95]:
# ` pd.options.mode.copy_on_write = True `
temp = res_apart[res_apart['AREA'].str.contains('-')]

In [89]:
res_apart['AREA'].replace('sq.ft.','',inplace=True,regex=True)

<ipython-input-89-66b20b1d259e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_apart['AREA'].replace('sq.ft.','',inplace=True,regex=True)

In [103]:
def replace_with_avg(range_str):
    pattern = r"(\d+)-(\d+)"

    match = re.search(pattern, range_str)

    if match:
        # Extract the two numbers
        num1 = int(match.group(1))
        num2 = int(match.group(2))

        # Calculate the average
        avg = (num1 + num2) // 2

        # Return the average as a string
        return str(avg)
    else:
        return range_str

In [105]:
res_apart.loc[temp.index,'AREA'] = res_apart.loc[temp.index,'AREA'].apply(replace_with_avg)

In [106]:
# temp['AREA'].apply(lambda x: x.split('-')[0]) + temp['AREA'].apply(lambda x: x.split('-')[1])

In [139]:
# res_apart[res_apart['FLOOR_NUM'].str.contains('.0')]

In [130]:
res_apart.loc[g.index,'FLOOR_NUM'] = res_apart['FLOOR_NUM'].replace('B','-2')

In [138]:
# res_apart['AREA'] = res_apart['AREA'].astype(int)
res_apart['FLOOR_NUM'] = res_apart['FLOOR_NUM'].astype(float)

<ipython-input-138-b1c7c7c64eea>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_apart['FLOOR_NUM'] = res_apart['FLOOR_NUM'].astype(float)

In [147]:
res_apart.rename(columns={'AREA':'area_in_sqft'},inplace=True)

<ipython-input-147-6074b5aa1ed0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_apart.rename(columns={'AREA':'area_in_sqft'},inplace=True)

In [156]:
res_apart['locality'] = res_apart['PROP_HEADING'].apply(lambda x: x.split('in')[1])

<ipython-input-156-f408cafa7d88>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_apart['locality'] = res_apart['PROP_HEADING'].apply(lambda x: x.split('in')[1])

In [181]:
var = res_apart['FORMATTED_LANDMARK_DETAILS'].sample(1)
str(var)

"10505    [{'text': '1 Railway Station'}, {'text': '1 Metro Station'}, {'text': '2 Connectivities'}, {'text': '2 Educations'}, {'text': '1 Hospital'}, {'text': '1 Airport'}, {'text': '1 Hotels'}, {'text': '1 Beach'}]\nName: FORMATTED_LANDMARK_DETAILS, dtype: object"

In [187]:
# json.loads(var.str)

In [190]:
res_apart['landmark_details'] = res_apart['FORMATTED_LANDMARK_DETAILS'].apply(get_landmark_details)

<ipython-input-190-afd492e9eda9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_apart['landmark_details'] = res_apart['FORMATTED_LANDMARK_DETAILS'].apply(get_landmark_details)

In [188]:
import json
def get_landmark_details(data_str):
  try:
    data_str = data_str.replace("'", '"')
    data = json.loads(data_str)
    texts = [item['text'] for item in data]
    return ", ".join(texts)
  except:
    return 0

In [182]:
d = "[{'category': 'ReligiousPlace', 'text': '1 Religious Place', 'className': 'rlgs', 'icon': 'https://static.99acres.com/universalapp/img/rlgs.png'}, {'category': 'ATM', 'text': '2 ATMs', 'className': 'atm', 'icon': 'https://static.99acres.com/universalapp/img/atm_blue.png'}, {'category': 'Hospital', 'text': '20 Hospitals', 'className': 'hsptl', 'icon': 'https://static.99acres.com/universalapp/img/hsptl.png'}, {'category': 'Attraction', 'text': '1 Attraction', 'className': 'cultrl', 'icon': 'https://static.99acres.com/universalapp/img/cultrl.png'}, {'category': 'Pharmacy', 'text': '3 Pharmacys', 'className': 'phmcy', 'icon': 'https://static.99acres.com/universalapp/img/phmcy.png'}, {'category': 'OfficeComplex', 'text': '2 Office Complexes', 'className': 'ofce', 'icon': 'https://static.99acres.com/universalapp/img/ofce.png'}]"
d = d.replace("'", '"')

In [183]:
d

'[{"category": "ReligiousPlace", "text": "1 Religious Place", "className": "rlgs", "icon": "https://static.99acres.com/universalapp/img/rlgs.png"}, {"category": "ATM", "text": "2 ATMs", "className": "atm", "icon": "https://static.99acres.com/universalapp/img/atm_blue.png"}, {"category": "Hospital", "text": "20 Hospitals", "className": "hsptl", "icon": "https://static.99acres.com/universalapp/img/hsptl.png"}, {"category": "Attraction", "text": "1 Attraction", "className": "cultrl", "icon": "https://static.99acres.com/universalapp/img/cultrl.png"}, {"category": "Pharmacy", "text": "3 Pharmacys", "className": "phmcy", "icon": "https://static.99acres.com/universalapp/img/phmcy.png"}, {"category": "OfficeComplex", "text": "2 Office Complexes", "className": "ofce", "icon": "https://static.99acres.com/universalapp/img/ofce.png"}]'

In [184]:
get_landmark_details(d)

'1 Religious Place, 2 ATMs, 20 Hospitals, 1 Attraction, 3 Pharmacys, 2 Office Complexes'

In [161]:
pd.set_option('display.max_colwidth', None)

In [197]:
res_apart['landmark_details'].str.contains('0').sum()

1418

In [191]:
res_apart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28550 entries, 0 to 28549
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PREFERENCE                  28550 non-null  object
 1   DESCRIPTION                 28550 non-null  object
 2   CITY                        28550 non-null  object
 3   TRANSACT_TYPE               23055 non-null  float64
 4   OWNTYPE                     28550 non-null  int64
 5   BEDROOM_NUM                 28533 non-null  float64
 6   BALCONY_NUM                 22280 non-null  float64
 7   FURNISH                     28550 non-null  int64
 8   FACING                      28550 non-null  int64
 9   AGE                         28550 non-null  int64
 10  FLOOR_NUM                   28550 non-null  float64
 11  TOTAL_FLOOR                 28550 non-null  float64
 12  FEATURES                    28550 non-null  object
 13  PROP_NAME                   28550 non-null  object
 14  PRICE_SQFT                  28550 non-null  float64
 15  AMENITIES                   21774 non-null  object
 16  area_in_sqft                28550 non-null  int64
 17  PRICE                       28550 non-null  object
 18  PROP_HEADING                28550 non-null  object
 19  TOTAL_LANDMARK_COUNT        27914 non-null  float64
 20  FORMATTED_LANDMARK_DETAILS  27914 non-null  object
 21  location                    28550 non-null  object
 22  LATITUDE                    28550 non-null  object
 23  LONGITUDE                   28550 non-null  object
 24  locality                    28550 non-null  object
 25  landmark_details            28550 non-null  object
dtypes: float64(7), int64(5), object(14)
memory usage: 5.7+ MB

In [192]:
res_apart.to_csv('/content/drive/MyDrive/pro/res_apart.csv',index=False)