In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
res_apart = pd.read_csv('/content/drive/MyDrive/pro/res_apart.csv')
res_land = pd.read_csv('/content/drive/MyDrive/pro/res_land.csv')
ind = pd.read_csv('/content/drive/MyDrive/pro/independent.csv')

In [3]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [4]:
ind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6138 entries, 0 to 6137
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   preference            6138 non-null   object
 1   property_type         6138 non-null   object
 2   description           6138 non-null   object
 3   city                  6138 non-null   object
 4   locality              6138 non-null   object
 5   prop_name             3258 non-null   object
 6   own_type              6138 non-null   int64
 7   #bedroom              6133 non-null   float64
 8   #balcony              5985 non-null   float64
 9   furnish               6138 non-null   int64
 10  facing                6138 non-null   int64
 11  possesion_age         6138 non-null   int64
 12  floor_num             3186 non-null   float64
 13  #floors               6062 non-null   float64
 14  features              6138 non-null   object
 15  amenities             5630 non-null   object
 16  area_in_sqft          6138 non-null   int64
 17  price_in_sqft         6138 non-null   int64
 18  price_in_lakh         6138 non-null   object
 19  transaction_type      5276 non-null   float64
 20  latitude              6138 non-null   float64
 21  longitude             6138 non-null   float64
 22  total_landmark_count  5764 non-null   float64
 23  landmark_details      6081 non-null   object
dtypes: float64(8), int64(6), object(10)
memory usage: 1.1+ MB

In [ ]:
res_apart.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28189 entries, 0 to 28217
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 28189 non-null  int64
 1   preference            28189 non-null  object
 2   description           28189 non-null  object
 3   city                  28189 non-null  object
 4   locality              28186 non-null  object
 5   prop_name             28189 non-null  object
 6   own_type              28189 non-null  int64
 7   #bedroom              28172 non-null  float64
 8   #balcony              22216 non-null  float64
 9   furnish               28189 non-null  int64
 10  facing                28189 non-null  int64
 11  possesion_age         28189 non-null  int64
 12  floor_num             28189 non-null  int64
 13  #floors               28189 non-null  int64
 14  features              28189 non-null  object
 15  amenities             21711 non-null  object
 16  area_in_sqft          28189 non-null  int64
 17  price_in_sqft         28189 non-null  int64
 18  price_in_lakh         28189 non-null  object
 19  transaction_type      22705 non-null  float64
 20  latitude              28189 non-null  float64
 21  longitude             28189 non-null  float64
 22  total_landmark_count  27553 non-null  float64
 23  landmark_details      28092 non-null  object
dtypes: float64(6), int64(9), object(9)
memory usage: 5.4+ MB

In [5]:
ind['price_in_lakh'].isnull().sum()

0

In [ ]:
res_land.reset_index(inplace = True)

In [ ]:
res_apart['price_in_lakh'][8031]

'40.52 L '

In [15]:
ind['price_in_lakh'].str.contains('Bed').sum()

348

In [ ]:
# t3 = res_apart[res_apart['price_in_lakh'].str.contains('Onwards')]

In [16]:
ind['price_in_lakh'].replace('Onwards','',inplace = True,regex=True)

In [10]:
t1 = ind[ind.price_in_lakh.str.contains('Price on Request')]

In [12]:
ind.drop(t1.index,axis = 0,inplace = True)

In [44]:
t2 = ind[ind.price_in_lakh.str.contains('Bed')]

In [ ]:
# res_apart[~(res_apart.price_in_lakh.str.contains('L') | res_apart.price_in_lakh.str.contains('Cr'))].sample(10)

In [18]:
ind['price_in_lakh'].sample(20)

5234           3.55 Cr
5644           1.25 Cr
4718            3.8 Cr
486             2.75 L
3529         4,500/Bed
1631           1.75 Cr
3377            2.2 Cr
4151         5,000/Bed
4110              57 L
3739              30 L
3681    1.09  - 1.1 Cr
4276     4,000/Bedroom
3784              1 Cr
453             2.2 Cr
299             1.9 Cr
2186            6.1 Cr
100            1.82 Cr
3450              7 Cr
5899              95 L
4708           1.45 Cr
Name: price_in_lakh, dtype: object

In [42]:
def extract_number(text):
    # Find the first number in the format with commas
    match = re.search(r'\d{1,3}(,\d{3})*', text)
    if match:
        # Remove commas and convert to an integer
        number = int(match.group().replace(',', ''))
        return number
    # else:
    #     return None

In [43]:
extract_number('4,000/Bedroom')

4000

In [ ]:
res_apart.loc[t2.index,'#bedroom']

6999      4.0
7000      3.0
7001      2.0
7002      3.0
7003      2.0
7004      3.0
7005      2.0
7006      3.0
7007      8.0
7008      2.0
7009      3.0
7012      3.0
7013      2.0
7014      1.0
7015      2.0
7016      2.0
7017      2.0
7018      1.0
7019      2.0
7020      2.0
7021      2.0
7022      2.0
7023      3.0
7024      2.0
7025      1.0
7026      1.0
7027      1.0
7028      1.0
7029      2.0
7030      1.0
7031      3.0
7032      2.0
7033      2.0
7034      3.0
7035      1.0
7036      1.0
7037      1.0
7038      2.0
7039      1.0
7040      1.0
7041      2.0
7042      2.0
7043      2.0
7044      2.0
7045      1.0
7046      4.0
7047      3.0
7048      3.0
7050      1.0
7051      3.0
7052      1.0
7053      2.0
7054      2.0
7055      2.0
7056      2.0
7057      2.0
7058      2.0
7059      3.0
7060      1.0
7061      1.0
7062      2.0
7063      1.0
7064      2.0
7065      3.0
7066      2.0
7067      2.0
7068      2.0
7069      2.0
7070      1.0
7071      1.0
7072      2.0
7073      1.0
7074      2.0
7075      2.0
7076      2.0
7077      2.0
7078      1.0
7079      3.0
7080      1.0
7081      2.0
7082      1.0
7083      2.0
7084      2.0
7085      1.0
7086      1.0
7087      3.0
7088      1.0
7089      1.0
7090      3.0
7091      2.0
7092      2.0
7093      3.0
7094      3.0
7095      3.0
7096      3.0
7097      2.0
7098      2.0
7099      2.0
7100      2.0
7101      3.0
7102      3.0
7103      3.0
7104      2.0
7105      2.0
7106      2.0
7107      4.0
7108      2.0
7109      4.0
7110      2.0
7111      2.0
7112      2.0
7113      3.0
7114      2.0
7115      3.0
7116      2.0
7117      2.0
7118      2.0
7119      2.0
7120      3.0
7121      3.0
7122      2.0
7123      2.0
7124      2.0
7125      3.0
7126      1.0
7127      2.0
7128      2.0
7129      2.0
7130      3.0
7131      2.0
7132      2.0
7133      3.0
7134      2.0
7135      2.0
7136      2.0
7137      3.0
7138      2.0
7139      2.0
7140      2.0
7141      2.0
7142      4.0
7143      3.0
7144      2.0
7146      2.0
7147      2.0
7148      3.0
7149      4.0
7150      2.0
7151      3.0
7152      3.0
7153      3.0
7154      2.0
7155      2.0
7156      2.0
7157      2.0
7158      2.0
7159      2.0
7160      2.0
7161      2.0
7162      2.0
7163      2.0
7164      1.0
7165      2.0
7166      2.0
7169      2.0
7170      1.0
7171      1.0
7172      3.0
7173      2.0
7174      2.0
7175      3.0
7176      3.0
7177      2.0
7178      2.0
7179      1.0
7180      1.0
7181      3.0
7182      2.0
7183      1.0
7184      3.0
7185      2.0
7186      1.0
7187      1.0
7188      3.0
7189      2.0
7190      2.0
7191      1.0
7192      2.0
7193      1.0
7194      2.0
7195      2.0
7196      2.0
7197      2.0
7200      3.0
7201      2.0
7202      3.0
7203      2.0
7204      1.0
7205      2.0
7206      2.0
7207      1.0
7208      2.0
7209      2.0
7210      2.0
7212      1.0
7213      1.0
7214      2.0
7215      2.0
7216      1.0
7217      2.0
7218      1.0
7219      2.0
7220      2.0
7221      2.0
7222      1.0
7223      1.0
7224      1.0
7225      2.0
7226      1.0
7227      1.0
7228      1.0
7229      1.0
7230      1.0
7231      2.0
7232      1.0
7233      2.0
7234      2.0
7235      2.0
7236      2.0
7237      2.0
7238      2.0
7239      2.0
7240      2.0
7241      2.0
7242      2.0
7243      2.0
7244      3.0
7245      3.0
7246      2.0
7247      2.0
7248      2.0
7249      2.0
7250      2.0
7251      3.0
7252      1.0
7253      2.0
7254      2.0
7255      2.0
7256      2.0
7257      2.0
7258      3.0
7259      2.0
7260      2.0
7261      2.0
7262      1.0
7263      1.0
7264      1.0
7265      2.0
7266      2.0
7267      2.0
7268      1.0
7269      1.0
7270      1.0
7271      2.0
7272      3.0
7273      2.0
7274      2.0
7275      2.0
7276      2.0
7277      2.0
7278      3.0
7279      2.0
7280      1.0
7281      3.0
7282      3.0
7284      2.0
7285      2.0
7286      2.0
7287      3.0
7288      3.0
7289      2.0
7290      2.0
7291      3.0
7292      2.0
7293      3.0
7294      2.0
7295      2.0
7296      1.0
7297      3.0
7298      3.0
7299      3.0
7300      3.0
7301      3.0
7302      3.0
7303      2.0
7304      1.0
7305      3.0
7306      2.0
7307      4.0
7308      2.0
7311      1.0
7312      3.0
7313      1.0
7314      2.0
7315      2.0
7316      2.0
7317      2.0
7318      2.0
7319      2.0
7320      2.0
7321      4.0
7322      3.0
7323      2.0
7324      2.0
7325      1.0
7326      1.0
7327      1.0
7328      1.0
7329      2.0
7330      2.0
7331      1.0
7332      3.0
7333      1.0
7334      2.0
7335      2.0
7336      2.0
7337      2.0
7338      3.0
7339      3.0
7340      3.0
7341      2.0
7342      2.0
7343      2.0
7345      2.0
7346      2.0
7347      2.0
7348      2.0
7349      3.0
7351      2.0
7352      2.0
7353      2.0
7354      2.0
7355      2.0
7356      2.0
7357      1.0
7358      3.0
7359      2.0
7360      2.0
7361      2.0
7362      2.0
7363      3.0
7364      2.0
7365      3.0
7366      2.0
7367      2.0
7368      1.0
7369      2.0
7370      2.0
7371      2.0
7372      2.0
7373      2.0
7374      2.0
7375      4.0
7376      2.0
7377      2.0
7378      3.0
7379      2.0
7380      2.0
7381      1.0
7382      1.0
7383      1.0
7384      1.0
7385      3.0
7386      2.0
7387      3.0
7388      2.0
7389      1.0
7390      2.0
7391      1.0
7392      4.0
7393      1.0
7394      3.0
7395      2.0
7396      2.0
7397      2.0
7398      2.0
7399      2.0
7400      4.0
7401      3.0
7402      2.0
7408      1.0
7409      2.0
7410      2.0
7411      1.0
7412      2.0
7413      3.0
7414      3.0
7415      1.0
7416      1.0
7417      2.0
7418      2.0
7419      1.0
7420      2.0
7421      2.0
7422      4.0
7423      2.0
7424      2.0
7425      2.0
7426      1.0
7427      3.0
7428      2.0
7429      2.0
7430      2.0
7431      2.0
7432      2.0
7433      5.0
7436      2.0
7437      2.0
7440      2.0
7441      4.0
7442      1.0
7443      1.0
7444      1.0
7445      1.0
7446      1.0
7447      1.0
7448      1.0
7449      1.0
7450      1.0
7451      1.0
7452      1.0
7453      1.0
7454      3.0
7455      4.0
7456      1.0
7457      1.0
7458      2.0
7459      1.0
7460      2.0
7461      3.0
7462      2.0
7463      2.0
7464      2.0
7465      2.0
7466      2.0
7467      2.0
7468      2.0
7469      2.0
7470      2.0
7471      2.0
7472      2.0
7473      5.0
7474      2.0
7475      3.0
7477      2.0
7478      2.0
7479      3.0
7480      2.0
7481      2.0
7482      2.0
7483      2.0
7484      3.0
7485      3.0
7486      2.0
7487      1.0
7488      1.0
7489      1.0
7490      1.0
7491      2.0
7492      2.0
7493      1.0
7494      1.0
7495      2.0
7496      1.0
7497      1.0
7498      1.0
7499      2.0
7500      4.0
7501      2.0
7502      2.0
7503      1.0
7504      1.0
7505      1.0
7506      1.0
7507      2.0
7508      1.0
7509      3.0
7510      2.0
7511      4.0
7512      2.0
7513      2.0
7514      2.0
7515      3.0
7516      2.0
7517      1.0
7518      2.0
7519      1.0
7520      3.0
7521      1.0
7522      3.0
7523      2.0
7524      1.0
7525      2.0
7526      2.0
7527      2.0
7528      1.0
7529      3.0
7530      3.0
7531      1.0
7532      2.0
7533      1.0
7534      2.0
7535      1.0
7536      2.0
7537      2.0
7538      2.0
7539      1.0
7540      1.0
7541      1.0
7542      1.0
7543      2.0
7544      1.0
7545      1.0
7546      3.0
7547      2.0
7548      1.0
7549      2.0
7550      1.0
7551      1.0
7552      2.0
7553      1.0
7554      2.0
7555      1.0
7556      2.0
7557      2.0
7558      3.0
7559      2.0
7560      2.0
7561      1.0
7562      1.0
7563      4.0
7564      1.0
7565      2.0
7566      1.0
7567      1.0
7568      1.0
7569      1.0
7570      2.0
7571      1.0
7572      2.0
7573      2.0
7574      2.0
7575      1.0
7576      3.0
7577      1.0
7578      2.0
7579      2.0
7580      1.0
7581      1.0
7584      2.0
7585      2.0
7586      1.0
7588      1.0
7589      2.0
7590      1.0
7591      3.0
7592      2.0
7593      1.0
7594      2.0
7595      2.0
7596      2.0
7597      2.0
7598      1.0
7599      2.0
7600      2.0
7601      1.0
7612      1.0
7613      2.0
7614      3.0
7615      3.0
7616      2.0
7619      1.0
7620      1.0
7621      1.0
7622      3.0
7623      1.0
7624      2.0
7625      1.0
7626      1.0
7627      1.0
7628      4.0
7629      1.0
7630      2.0
7631      2.0
7632      1.0
7633      1.0
7634      1.0
7635      1.0
7636      3.0
7637      2.0
7638      1.0
7639      1.0
7640      3.0
7641      1.0
7642      1.0
7643      1.0
7644      2.0
7645      4.0
7646      3.0
7647      1.0
7648      1.0
7649      3.0
7650      2.0
7651      4.0
7652      1.0
7653      1.0
7654      1.0
7655      1.0
7656      2.0
7657      7.0
7658      3.0
7659      3.0
7660      3.0
7661      3.0
7662      4.0
7663      4.0
7664      2.0
7665      2.0
7666      1.0
7667      1.0
7668      1.0
7669      1.0
7670      1.0
7671      3.0
7672      1.0
7673      1.0
7674      3.0
7675      1.0
7676      3.0
7677      3.0
7678      2.0
7679      2.0
7680      2.0
7681      1.0
7682      3.0
7683      1.0
7684      2.0
7685      1.0
7686      2.0
7687      1.0
7688      2.0
7689      2.0
7690      2.0
7691      1.0
7692      5.0
7693      4.0
7694      3.0
7695      1.0
7696      1.0
7699      2.0
7705      3.0
7706      3.0
7712      2.0
7713      3.0
7714      2.0
7715      2.0
7716      1.0
7717      2.0
7718      2.0
7719      2.0
7720      1.0
7721      2.0
7722      3.0
7723      2.0
7724      1.0
7725      2.0
7726      2.0
7727      3.0
7728      1.0
7729      1.0
7730      1.0
7731      1.0
7732      1.0
7733      1.0
7734      2.0
7735      2.0
7736      1.0
7737      1.0
7738      1.0
7739      2.0
7740      1.0
7741      2.0
7742      1.0
7743      5.0
7744      1.0
7745      1.0
7746      1.0
7747      1.0
7748      1.0
7749      3.0
7750      2.0
7751      3.0
7752      3.0
7753      2.0
7754      2.0
7755      2.0
7756      1.0
7757      2.0
7758      1.0
7759      1.0
7760      3.0
7761      1.0
7762      2.0
7763      3.0
7764      2.0
7765      1.0
7766      2.0
7767      2.0
7768      2.0
7769      1.0
7770      3.0
7771      2.0
7776      2.0
7777      2.0
7778      2.0
7779      1.0
7780      2.0
7781      3.0
7782      1.0
7783      2.0
7784      2.0
7785      1.0
7786      3.0
7787      1.0
7788      2.0
7789      1.0
7790      2.0
7791      1.0
7792      1.0
7793      1.0
7794      1.0
7795      3.0
7796      2.0
7797      1.0
7798      3.0
7799      2.0
7800      1.0
7801      2.0
7802      1.0
7803      2.0
7804      2.0
7805      3.0
7806      2.0
7809      2.0
7810      3.0
7826      2.0
7827      2.0
7828      1.0
7829      1.0
7830      2.0
7831      2.0
7832      1.0
7833      3.0
7834      2.0
7835      2.0
7836      2.0
7837      2.0
7838      4.0
7839      1.0
7840      2.0
7841      1.0
7842      4.0
7843      1.0
7844      2.0
7845      4.0
7846      2.0
7847      2.0
7848      3.0
7849      2.0
7850      3.0
7851      8.0
7852      2.0
7853      1.0
7854      1.0
7855      3.0
7856      3.0
7857      2.0
7858      3.0
7859      2.0
7860      3.0
7861      5.0
7862      3.0
7863      3.0
7864      3.0
7865      3.0
7866      4.0
7867      3.0
7868      3.0
7869      4.0
7870      2.0
7871      3.0
7872      2.0
7873      2.0
7874      2.0
7875      3.0
7876      2.0
7877      3.0
7878      1.0
7879      5.0
7880      2.0
7881      3.0
7882      2.0
7883      3.0
7884      3.0
7885      3.0
7886      3.0
7887      3.0
7888      2.0
7889      2.0
7890      2.0
7891      2.0
7892      1.0
7893      1.0
7894      2.0
7895      2.0
7896      2.0
7897      1.0
7898      2.0
7899      3.0
7900      3.0
7901      2.0
7902      2.0
7903      3.0
7904      1.0
7905      2.0
7906      3.0
7907      3.0
7908      3.0
7909      4.0
7910      2.0
7911      1.0
7912      3.0
7913      2.0
7914      1.0
7915      4.0
7916      1.0
7917      3.0
7918      1.0
7919      2.0
7920      1.0
7921      3.0
7922      3.0
7923      3.0
7924      3.0
7925      2.0
7926      3.0
7927      2.0
7928      1.0
7929      2.0
7930      3.0
7931      3.0
7932      1.0
7933      1.0
7934      2.0
7935      4.0
7936      2.0
7937      4.0
7938      1.0
7939      2.0
7940      2.0
7941      2.0
7942      2.0
7943      2.0
7944      2.0
7945      2.0
7946      3.0
7947      2.0
7948      2.0
7949      2.0
7950      2.0
7951      2.0
7952      2.0
7953      1.0
7954      1.0
7955      1.0
7956      1.0
7957      3.0
7958      3.0
7959      3.0
7960      2.0
7961      2.0
7962      3.0
7963      2.0
7964      2.0
7965      2.0
7966      2.0
7967      3.0
7968      2.0
7969      1.0
7970      1.0
7971      1.0
7972      2.0
7973      2.0
7974      4.0
7975      3.0
7976      2.0
7977      2.0
7978      1.0
7979      1.0
7980      3.0
7981      2.0
7982      2.0
7983      1.0
7984      3.0
7985      2.0
7986      2.0
7987      2.0
7988      1.0
7989      2.0
7990      1.0
7991      2.0
7992      1.0
7993      2.0
7994      2.0
7995      3.0
7996      2.0
7997      2.0
7998      1.0
7999      3.0
8004      2.0
8022      1.0
8023      1.0
8037      1.0
8040      3.0
8041      2.0
8060      2.0
8063      3.0
8159      2.0
8427      1.0
8428      1.0
9557      1.0
9558      3.0
9559      3.0
9560      1.0
9561      1.0
9562      1.0
9563      1.0
9564      1.0
9565      2.0
9566      1.0
9567      1.0
9568      2.0
9569      1.0
9570      2.0
9571      1.0
9572      1.0
9573      2.0
9574      1.0
9575      2.0
9576      2.0
9577      1.0
9578      2.0
9579      1.0
9580      2.0
9581      1.0
9582      1.0
9583      1.0
9584      1.0
9585      1.0
9586      1.0
9587      1.0
9588      2.0
9589      2.0
9590      5.0
9591      3.0
9592      3.0
9593      3.0
9594      1.0
9595      1.0
9596      1.0
9597      1.0
9598      2.0
9599      3.0
9600      2.0
9601      8.0
9602      1.0
9603      2.0
9604      2.0
9605      1.0
9606      3.0
9607      3.0
9608      3.0
9609      1.0
9610      1.0
9611     30.0
9612      1.0
9613      1.0
9614      1.0
9615      1.0
9616      1.0
9617      2.0
9618      1.0
9619      3.0
9620      4.0
9621      1.0
9622      2.0
9623      2.0
9624      1.0
9625      1.0
9626      1.0
9627      2.0
9628      2.0
9629     40.0
9630      1.0
9631      1.0
9632      2.0
9633      2.0
9634      1.0
9635      1.0
9636      1.0
9637      1.0
9638      1.0
9639      3.0
9640      3.0
9641      1.0
9642      1.0
9643      2.0
9644      1.0
9645      1.0
9646      1.0
9647      2.0
9648      1.0
9649      1.0
9650      2.0
9651     30.0
9652      2.0
9653      2.0
9654      2.0
9655      1.0
9656      2.0
9657      2.0
9658      1.0
9659      3.0
9660      1.0
9661      1.0
9662      2.0
9663      2.0
9664      1.0
9665      3.0
9666      2.0
9667     50.0
9668      1.0
9669      1.0
9670      4.0
9671      1.0
9672      1.0
9673      1.0
9674      1.0
9675     60.0
9676      1.0
9677      2.0
9678      3.0
9679      2.0
9680      1.0
9681      1.0
9682     10.0
9683      1.0
9684      2.0
9685      2.0
9686      1.0
9687      1.0
9688      2.0
9689      1.0
9690      2.0
9691      1.0
9692      3.0
9693      2.0
9694      2.0
9695      2.0
9696      4.0
9697      1.0
9698      1.0
9699      1.0
9700      1.0
9701      1.0
9702      2.0
9703      1.0
9704      1.0
9705      2.0
9706     60.0
9707      1.0
9708      1.0
9709      3.0
9710      2.0
9711      1.0
9712      1.0
9713      3.0
9714      1.0
9715      3.0
9716      1.0
9717      1.0
9718      1.0
9719      2.0
9720      2.0
9721      1.0
9722      3.0
9723      1.0
9724      1.0
9725      1.0
9726      3.0
9727      2.0
9728      1.0
9729      1.0
9730      2.0
9731      1.0
9732      2.0
9733      2.0
9734      1.0
9735      1.0
9736      1.0
9737      1.0
9738      3.0
9739      1.0
9740      3.0
9741      2.0
9742      1.0
9743      2.0
9744      3.0
9745      1.0
9746      1.0
9747      2.0
9748      2.0
9749      5.0
9750      4.0
9751      3.0
9752      2.0
9753      1.0
9754      3.0
9755      2.0
9756      1.0
9757      3.0
9758      2.0
9759      1.0
9760      3.0
9761      2.0
9762      1.0
9763      3.0
9764      2.0
9765      1.0
9766      3.0
9767      2.0
9768      1.0
9769      3.0
9770      2.0
9771      1.0
9772      3.0
9773      2.0
9774      1.0
9775      3.0
9776      2.0
9777      1.0
9778      4.0
9779      3.0
9780      2.0
9781      3.0
9782      2.0
9783      1.0
9784      5.0
9785      4.0
9786      3.0
9787      2.0
9788      1.0
9789      4.0
9790      3.0
9791      2.0
9792      3.0
9793      2.0
9794      1.0
9795      6.0
9796      5.0
9797      4.0
9798      3.0
9799      2.0
9800      1.0
9801      2.0
9802      1.0
9803      1.0
9804      1.0
9805      1.0
9806      2.0
9807      1.0
9808      4.0
9809      2.0
9810      1.0
9812      4.0
9815      2.0
9816      1.0
9817      2.0
9818      1.0
9819      2.0
9820      1.0
9822      5.0
9823      3.0
9827      1.0
9828      2.0
9829      1.0
9830      1.0
9831      1.0
9832      1.0
9885      2.0
9886      2.0
9887      1.0
9888      2.0
9889      2.0
9890      3.0
9918      3.0
9919      2.0
9920      3.0
9921      3.0
9924      3.0
9925      2.0
9926      3.0
9931      2.0
9940      3.0
9963      2.0
10028     2.0
10032     2.0
10097     1.0
10208     3.0
10344     3.0
10345     2.0
10659     3.0
10783     2.0
10784     4.0
10911     3.0
10912     2.0
10913     2.0
11534     3.0
11934     1.0
13522     3.0
14360     1.0
16134     3.0
16145     3.0
16146     3.0
16383     2.0
16384     3.0
16469     3.0
16470     2.0
16471     3.0
16513     3.0
16514     2.0
16515     3.0
16518     3.0
16531     3.0
16574     3.0
16647     3.0
16874     5.0
21968     3.0
21969     3.0
21970     3.0
21971     2.0
21972     3.0
21973     3.0
21974     2.0
21975     3.0
21976     2.0
21977     3.0
21978     2.0
21979     3.0
21980     2.0
21981     3.0
21982     3.0
21983     2.0
21984     2.0
21985     2.0
21986     2.0
21987     2.0
21988     3.0
21989     2.0
21990     2.0
21991     2.0
21992     2.0
21993     2.0
21994     2.0
21995     2.0
21996     3.0
21997     2.0
21998     2.0
21999     2.0
22000     3.0
22001     2.0
22002     2.0
22003     3.0
22004     2.0
22005     2.0
22006     2.0
22007     2.0
22008     2.0
22009     2.0
22010     2.0
22011     2.0
22012     2.0
22013     2.0
22014     2.0
22015     2.0
22016     2.0
22017     2.0
22018     2.0
22019     3.0
22020     3.0
22021     3.0
22022     2.0
22023     2.0
22024     2.0
22025     2.0
22026     2.0
22027     2.0
22028     2.0
22029     2.0
22030     2.0
22031     2.0
22032     4.0
22033     3.0
22034     4.0
22035     3.0
22036     3.0
22037     3.0
22038     3.0
22039     2.0
22040     3.0
22041     3.0
22042     2.0
22043     3.0
22044     3.0
22045     3.0
22046     2.0
22047     2.0
22048     2.0
22049     2.0
22050     3.0
22051     4.0
22052     3.0
22053     2.0
22054     3.0
22055     2.0
22056     2.0
22057     3.0
22058     4.0
22059     2.0
22060     1.0
22061     2.0
22062     3.0
22063     3.0
22064     2.0
22065     3.0
22066     2.0
22067     2.0
22068     3.0
22069     2.0
22070     2.0
22071     3.0
22072     3.0
22073     2.0
22074     1.0
22075     1.0
22076     2.0
22077     2.0
22078     3.0
22079     2.0
22080     2.0
22081     3.0
22082     3.0
22087     2.0
22088     1.0
22089     2.0
22090     3.0
22157     2.0
22159     1.0
22160     2.0
22162     1.0
22356     3.0
22359     3.0
22401     3.0
22441     3.0
24671     2.0
24672     3.0
24673     3.0
24674     2.0
24675     3.0
24676     2.0
24677     2.0
24678     3.0
24679     2.0
24680     3.0
24681     2.0
24682     3.0
24683     3.0
24684     2.0
24685     3.0
24686     2.0
24687     2.0
24688     3.0
24689     2.0
24690     2.0
27913     2.0
27914     1.0
27915     2.0
27916     2.0
27917     2.0
27918     3.0
27919     3.0
27920     3.0
27921     3.0
27922     3.0
27923     3.0
27924     3.0
27925     3.0
27926     3.0
27938     2.0
27939     2.0
Name: #bedroom, dtype: float64

In [45]:
ind.loc[t2.index,'price_in_lakh'] = ind.loc[t2.index,'price_in_lakh'].apply(extract_number) * ind.loc[t2.index,'#bedroom']

In [ ]:
extract_and_average('43.02  - 52.047 Cr')

['47.53 Cr']

In [ ]:
res_apart[res_apart['price_in_lakh'].isnull()]

Empty DataFrame
Columns: [index, preference, description, city, locality, prop_name, own_type, #bedroom, #balcony, furnish, facing, possesion_age, floor_num, #floors, features, amenities, area_in_sqft, price_in_sqft, price_in_lakh, transaction_type, latitude, longitude, total_landmark_count, landmark_details]
Index: []

In [29]:
t4 = ind[ind.price_in_lakh.str.contains('-')]

In [ ]:
parse_range('2.047 Cr')

ValueError: Input does not contain a valid range.

In [ ]:
def parse_range(value):
    # Define the regex pattern to match "<number> <unit>"
    pattern = re.compile(r'(\d+(?:\.\d+)?)\s*(L|Cr)')

    # Find all matches
    matches = pattern.findall(value)

    if len(matches) != 2:
        raise ValueError("Input does not contain a valid range.")

    # Parse the matches
    start_value, start_unit = matches[0]
    end_value, end_unit = matches[1]

    # Convert to float
    start_value = float(start_value)
    end_value = float(end_value)

    # Convert to integer based on unit
    if start_unit == 'L':
        start_value *= 100_000
    elif start_unit == 'Cr':
        start_value *= 10_000_000

    if end_unit == 'L':
        end_value *= 100_000
    elif end_unit == 'Cr':
        end_value *= 10_000_000

    return (start_value+end_value)/2

In [33]:
t4.tail(12)

,preference,property_type,description,city,locality,prop_name,own_type,#bedroom,#balcony,furnish,facing,possesion_age,floor_num,#floors,features,amenities,area_in_sqft,price_in_sqft,price_in_lakh,transaction_type,latitude,longitude,total_landmark_count,landmark_details
4467,S,H,"Pranava slr greenwich, a premium villa layout ...",Hyderabad,Attapur,Pranavas SLR Greenwich,1,4.0,NaN,0,0,5,NaN,0.0,N,NaN,5073,10900,4 - 7.06 Cr,2.0,17.301632,78.389229,10.0,"3 Shoppings, 4 Connectivities, 2 Office Comple..."
4472,S,H,Golden county annexe is a project with over 27...,Secunderabad,Rampally,Modi Golden County Annexe,1,3.0,NaN,0,0,5,NaN,0.0,N,NaN,2672,6100,1.6 - 1.66 Cr,2.0,17.475920,78.676573,7.0,"5 Educations, 1 Hospital, 1 Miscellaneous"
4473,S,H,Green planet is a residential development of g...,Hyderabad,Shad nagar,Green Planet,1,4.0,NaN,0,0,5,NaN,0.0,N,NaN,2427,5500,1.25 - 1.42 Cr,2.0,17.067567,78.202433,2.0,"1 Connectivity, 1 Airport"
4475,S,H,"Vessella meadows in narsingi, hyderabad by ves...",Hyderabad,Nars,Vessella Meadows,1,5.0,NaN,0,0,6,NaN,0.0,N,NaN,5296,22500,11.82 - 12.01 Cr,2.0,17.378536,78.378639,15.0,"1 Shopping, 3 Connectivities, 3 Educations, 1 ..."
4476,S,H,"Vessella meadows in narsingi, hyderabad by ves...",Hyderabad,Nars,Vessella Meadows,1,4.0,NaN,0,0,6,NaN,0.0,N,NaN,4012,22500,7.83 - 10.27 Cr,2.0,17.378536,78.378639,15.0,"1 Shopping, 3 Connectivities, 3 Educations, 1 ..."
4477,S,H,"Vessella meadows in narsingi, hyderabad by ves...",Hyderabad,Nars,Vessella Meadows,1,3.0,NaN,0,0,6,NaN,0.0,N,NaN,2904,22500,6.38 - 6.69 Cr,2.0,17.378536,78.378639,15.0,"1 Shopping, 3 Connectivities, 3 Educations, 1 ..."
4503,S,H,"Built-In beeramguda, hyderabad, sri aditya gre...",Hyderabad,Beeramguda,Sri Aditya Green Tech O2 Community,1,4.0,NaN,0,0,5,NaN,0.0,N,NaN,3897,5400,1.72 - 2.49 Cr,2.0,17.563100,78.290520,6.0,"3 Connectivities, 1 Education, 1 Hospital, 1 R..."
4504,S,H,"Built-In beeramguda, hyderabad, sri aditya gre...",Hyderabad,Beeramguda,Sri Aditya Green Tech O2 Community,1,3.0,NaN,0,0,5,NaN,0.0,N,NaN,2502,5400,1.18 - 1.52 Cr,2.0,17.563100,78.290520,6.0,"3 Connectivities, 1 Education, 1 Hospital, 1 R..."
4518,S,H,"Grid golf pride homes is located in yapral, se...",Secunderabad,Yapral,Golf Pride Homes,1,4.0,NaN,0,0,5,NaN,0.0,N,NaN,3847,6500,2.44 - 2.56 Cr,2.0,17.511893,78.532845,12.0,"1 Metro Station, 1 Shopping, 2 Educations, 1 H..."
4521,S,H,"Vessella woods in kondapur, hyderabad by vesse...",Hyderabad,Kondapur,Vessella Woods,1,4.0,NaN,0,0,6,NaN,0.0,N,NaN,3921,22022,7.89 - 9.38 Cr,2.0,17.484218,78.339065,15.0,"1 Education, 1 ATM, 2 Hospitals, 1 Banks, 1 Ra..."
4560,S,H,Siva sai infra myra is a residential developme...,Hyderabad,Kollur,Siva Sai Infra Myra,1,3.0,NaN,0,0,5,NaN,0.0,N,NaN,2940,8999,2.42 - 2.87 Cr,2.0,17.513816,78.244055,8.0,"2 Connectivities, 1 Education, 2 Hospitals, 1 ..."
4579,S,H,"Speed splendour city, a plot estate situated i...",Hyderabad,Beeramguda,Speed Splendour City,1,4.0,NaN,0,0,5,NaN,0.0,N,NaN,3078,5700,1.58 - 1.93 Cr,2.0,17.563917,78.296707,NaN,0

In [28]:
extract_and_average('2.32 - 2.32 L')

'2.32 L'

In [39]:
def extract_and_average(text):
    # Find all patterns like 'number - number X'
    if '-' in str(text): # and 'Cr' in str(text) and 'L' not in str(text):
      matches = re.findall(r'(\d*\.?\d+)\s*-\s*(\d*\.?\d+)\s*([LCr]+)', text)
      results = []

      for match in matches:
          num1 = float(match[0])
          num2 = float(match[1])
          suffix = match[2]
          average = (num1 + num2) / 2
          results.append(f"{average:.2f} {suffix}")

      return results[0]
    else:
      return text

In [41]:
ind.loc[t4.index,'price_in_lakh'] = ind.loc[t4.index,'price_in_lakh'].apply(extract_and_average)

In [ ]:
res_land['price_in_lakh'] = res_land['price_in_lakh'].apply(parse_range)

ValueError: Input does not contain a valid range.

In [ ]:
res_land.to_csv('/content/drive/MyDrive/pro/res_land1.csv',index=False)

In [ ]:
res_land1 = pd.read_csv('/content/drive/MyDrive/pro/res_land1 - res_land1.csv')

In [ ]:
res_land1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 3500 non-null   int64
 1   preference            3500 non-null   object
 2   description           3500 non-null   object
 3   city                  3500 non-null   object
 4   locality              3500 non-null   object
 5   prop_name             1408 non-null   object
 6   own_type              3500 non-null   int64
 7   facing                3500 non-null   int64
 8   features              3500 non-null   object
 9   amenities             2845 non-null   object
 10  area_in_sqft          3500 non-null   int64
 11  price_in_sqft         3500 non-null   int64
 12  price_in_lakh         3483 non-null   float64
 13  transaction_type      3491 non-null   float64
 14  latitude              3500 non-null   float64
 15  longitude             3500 non-null   float64
 16  total_landmark_count  2395 non-null   float64
 17  landmark_details      3446 non-null   object
 18  connectivity          3500 non-null   int64
 19  hospital+pharmacy     3500 non-null   int64
 20  relegious_places      3500 non-null   int64
 21  educations            3500 non-null   int64
 22  banks                 3500 non-null   int64
 23  shoppings             3500 non-null   int64
 24  office_complex        3500 non-null   int64
dtypes: float64(5), int64(12), object(8)
memory usage: 683.7+ KB

In [ ]:
res_land1.price_in_lakh.isnull().isnull().sum()

0

In [ ]:
# t5

In [83]:
ind.price_in_lakh.sample(20)

4015     55.0
2857    180.0
4136     65.0
4547    164.0
4573    295.0
4202    0.054
2678    320.0
6082    130.0
3456    325.0
1591    400.0
4346     0.18
2274     73.1
996     178.0
4426     0.05
3067    185.0
345     93.25
3606     0.07
3818    103.0
1193    289.0
1322    850.0
Name: price_in_lakh, dtype: object

In [51]:
ind['price_in_lakh'].replace(',','',inplace=True,regex=True)

In [72]:
parse_number('8 Cr')

800.0

In [76]:
def parse_number(value):
    # value = str(value)
    # Define the regex patterns
    crore_pattern = re.compile(r'(\d+(?:\.\d+)?)\s*Cr')
    lakh_pattern = re.compile(r'(\d+(?:\.\d+)?)\s*L')
    # plain_number_pattern = re.compile(r'^\d+(\.\d+)?$')

    # Check for 'Cr' (crore)
    crore_match = crore_pattern.match(value)
    if crore_match:
        number = float(crore_match.group(1))
        return float(number * 100)

    # Check for 'L' (lakh)
    lakh_match = lakh_pattern.match(value)
    if lakh_match:
        number = float(lakh_match.group(1))
        return float(number)

    # # Check for plain numbers without commas
    # plain_number_match = plain_number_pattern.match(value)
    # if plain_number_match:
    #     return float(value)/100000
    else:
      return float(value)/100000

In [79]:
ind.loc[:,'price_in_lakh'] = ind.loc[:,'price_in_lakh'].apply(parse_number)

In [78]:
def parse_number(value):
  if 'Cr' in str(value):
    return float(value.replace('Cr', '')) * 100
  elif 'L' in str(value):
    return float(value.replace('L', ''))
  else:
    return float(value)/100000

In [ ]:
res_land1['price_in_lakh'] = res_land1['price_in_lakh'].apply(parse_number)

In [84]:
ind['price_in_lakh'] = ind['price_in_lakh'].astype(float)

In [ ]:
t4 = res_apart1[res_apart1['price_in_lakh'] == 0.0 ]

In [ ]:
res_land1.drop(t5.index,axis = 0,inplace = True)

In [ ]:
res_apart1.reset_index(inplace = True)

In [100]:
ind.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6113 entries, 0 to 6137
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   preference            6113 non-null   object
 1   property_type         6113 non-null   object
 2   description           6113 non-null   object
 3   city                  6113 non-null   object
 4   locality              6113 non-null   object
 5   prop_name             3238 non-null   object
 6   own_type              6113 non-null   int64
 7   #bedroom              6108 non-null   float64
 8   #balcony              5971 non-null   float64
 9   furnish               6113 non-null   int64
 10  facing                6113 non-null   int64
 11  possesion_age         6113 non-null   int64
 12  floor_num             3184 non-null   float64
 13  #floors               6038 non-null   float64
 14  features              6113 non-null   object
 15  amenities             5615 non-null   object
 16  area_in_sqft          6113 non-null   int64
 17  price_in_sqft         6113 non-null   int64
 18  price_in_lakh         6113 non-null   float64
 19  transaction_type      5253 non-null   float64
 20  latitude              6113 non-null   float64
 21  longitude             6113 non-null   float64
 22  total_landmark_count  5739 non-null   float64
 23  landmark_details      6057 non-null   object
 24  connectivity          6113 non-null   int64
 25  hospital+pharmacy     6113 non-null   int64
 26  relegious_places      6113 non-null   int64
 27  education             6113 non-null   int64
 28  banks                 6113 non-null   int64
 29  shopping              6113 non-null   int64
 30  office_complex        6113 non-null   int64
dtypes: float64(9), int64(13), object(9)
memory usage: 1.6+ MB

In [ ]:
pd.set_option('display.max_colwidth', None)

In [98]:
def get_landmark_count(s):
    # landmark = ['Railway Station','Metro Station','Airport','Airports','Connectivity','Metro Stations','Railway Stations','Bus Depots','Connectivities','Bus Stops','Bus Stop','Bus Depot']
    # landmark = ['Hospital','Hospitals','Pharmacys','Pharmacy']
    # landmark = ['Religious Places','Religious Place']
    # landmark = ['Educations','Education','Library','Libraries']
    # landmark = ['ATM','ATMs','Bank','Banks','Bankss']
    # landmark = ['Shopping','Shoppings']
    landmark = ['Office Complex','Office Complexes']
    num = 0
    # Define the regex pattern to match "<number> <landmark>"
    pattern = re.compile(r'(\d+)\s([A-Za-z\s]+?)(?=,\s|$)')

    # Find all matches
    matches = pattern.findall(str(s))

    # Iterate over matches to find the specified landmark
    for count, name in matches:
        if name.strip() in landmark:
          num += int(count)
    return int(num)

In [99]:
ind['office_complex'] = ind['landmark_details'].apply(get_landmark_count)

In [ ]:
get_landmark_count('1 Railway Station, 1 Metro Station, 1 Shopping, 1 Connectivity, 2 Educations, 1 Hospital, 1 Airport, 1 Office Complex, 1 Hotels, 1 Golf Course, 1 Stadium, 1 Beach')

3

In [ ]:
res_apart1.landmark_details.sample(10)

21843                                                                                                                                                                              0
14568                                              1 Railway Station, 1 Shopping, 2 Connectivities, 1 Education, 3 Hospitals, 2 Bankss, 1 Park, 2 Office Complexes, 2 Miscellaneouss
4380                                                                                      5 Metro Stations, 3 Religious Places, 6 ATMs, 9 Hospitals, 4 Pharmacys, 2 Office Complexes
19066                                                                                       6 Religious Places, 3 ATMs, 16 Hospitals, 1 Office Complex, 1 Bus Depot, 1 Miscellaneous
14324                                                                                                                                    1 Parking, 2 ATMs, 3 Hospitals, 2 Pharmacys
1736                                                                           1 Metro Station, 1 Shopping, 2 Connectivities, 2 Educations, 1 Hospital, 1 Airport, 1 Railway Station
14245                                                                                            3 Shoppings, 2 Connectivities, 1 Education, 1 Hospital, 1 Stadium, 3 Miscellaneouss
3528                                   1 Shopping, 1 Connectivity, 2 Educations, 1 Hospital, 1 Airport, 1 Office Complex, 1 Hotels, 1 Amusement Park, 1 Golf Course, 1 Miscellaneous
13189                                                                                                                            1 Parking, 5 Religious Places, 3 ATMs, 25 Hospitals
26644    1 Metro Station, 1 Shopping, 1 Connectivity, 2 Educations, 1 Hospital, 1 Airport, 1 Railway Station, 1 Office Complex, 1 Hotels, 1 Amusement Park, 1 Golf Course, 1 Stadium
Name: landmark_details, dtype: object

In [ ]:
# res_apart1.hospital+pharmacy.sample(10)

In [104]:
ind.to_csv('/content/drive/MyDrive/pro/independent.csv',index=False)

In [103]:
ind.sample(2)

,preference,property_type,description,city,locality,prop_name,own_type,#bedroom,#balcony,furnish,facing,possesion_age,floor_num,#floors,features,amenities,area_in_sqft,price_in_sqft,price_in_lakh,transaction_type,latitude,longitude,total_landmark_count,landmark_details,connectivity,hospital+pharmacy,relegious_places,education,banks,shopping,office_complex
5544,R,H,Property located in tellapur gated society spa...,Hyderabad,Tellapur,Radhey Sancia,0,4.0,2.0,4,3,2,NaN,3.0,"23,24,25,26,5,6,19","5,23,24,6,19,25,26,103",3400,17,0.6,NaN,17.46642,78.285342,17.0,"1 Religious Place, 2 Hospitals, 1 Pharmacy",0,3,1,0,0,0,0
5113,S,H,The primimum gateted community villas in patan...,Hyderabad,Patancheru,ROCKETR,1,3.0,2.0,2,3,5,NaN,2.0,"44,23,45,24,46,25,47,26,28,29,30,10,32,12,39,1...","10,32,17,5,8,44,23,45,24,46,47,28,29,30,39,19,...",2100,4809,101.0,1.0,17.53160,78.267290,48.0,"1 Shopping, 5 Religious Places, 10 Hospitals, ...",0,11,5,0,0,1,0